<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="pingback" href="http://www.hinckleyvideo.com/xmlrpc.php" />
	<title>Hinckley Video Oli -</title>

	<link rel="shortcut icon" href="http://www.hinckleyvideo.com/wp-content/uploads/2015/04/Hinckley-DVD-FB-200x200.jpg" />

	<!-- This site is optimized with the Yoast WordPress SEO plugin v2.1.1 - https://yoast.com/wordpress/plugins/seo/ -->
	<link rel="canonical" href="http://www.hinckleyvideo.com/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Hinckley Video" />
	<meta property="og:url" content="http://www.hinckleyvideo.com/" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/images//live_editor/add_new.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/images/pencil.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/images/move-icon.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/images/remove-row.png" />
	<meta property="og:image" content="http://hinckleyvideo.com/wp-content/uploads/2015/04/KSL-BYU-Crediblity-Banner-4-860-x-72.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/images/live_editor/split_column.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/optin_box/privacy.png" />
	<meta property="og:image" content="http://hinckleyvideo.com/wp-content/uploads/2014/09/Click-to-Call-Living-Scriptures-1-300-x-160.png" />
	<meta property="og:image" content="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Shaw-Family-Tesimonials-75-x-93-template.jpg" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png" />
	<meta property="og:image" content="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Bawden-Family-Tesimonials-75-x-93-template.jpg" />
	<meta property="og:image" content="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Cleverly-Family-Tesimonials-75-x-93-template.jpg" />
	<meta property="og:image" content="http://hinckleyvideo.com/wp-content/uploads/2015/04/Hickley-DVD-Details.jpg" />
	<meta property="og:image" content="http://hinckleyvideo.com/wp-content/uploads/2015/04/LOGO-Grey-BG.jpg" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/425.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/445.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/Online-Presence.png" />
	<meta property="og:image" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/76.png" />
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="Hinckley Video Oli -"/>
	<meta name="twitter:image:src" content="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/images//live_editor/add_new.png"/>
	<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/www.hinckleyvideo.com\/","name":""}</script>
	<!-- / Yoast WordPress SEO plugin. -->

	<link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="http://www.hinckleyvideo.com/feed/" />
	<link rel="alternate" type="application/rss+xml" title=" &raquo; Comments Feed" href="http://www.hinckleyvideo.com/comments/feed/" />
			<script type="text/javascript">
				window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.hinckleyvideo.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.1"}};
				!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f;c.supports={simple:d("simple"),flag:d("flag")},c.supports.simple&&c.supports.flag||(f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
			</script>
	<style type="text/css">
	img.wp-smiley,
	img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 .07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
	</style>
	<link rel='stylesheet' id='optimizepressflowplayerminimalist-css'  href='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/modules/blog/video/flowplayer-5.5.0/skin/minimalist.min.css?ver=2.4.0' type='text/css' media='all' />
	<link rel='stylesheet' id='optimizepressmediaelementplayer-css'  href='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/modules/blog/video/mediaelement/mediaelementplayer.min.css?ver=2.4.0' type='text/css' media='all' />
	<link rel='stylesheet' id='optimizepress-fancybox-css'  href='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/fancybox/jquery.fancybox.min.css?ver=2.4.0' type='text/css' media='all' />
	<link rel='stylesheet' id='optimizepress-wp-css'  href='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/css/wp.css?ver=2.4.0' type='text/css' media='all' />
	<link rel='stylesheet' id='optimizepress-page-style-css'  href='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/pages/marketing/1/style.min.css?ver=2.4.0' type='text/css' media='all' />
	<link rel='stylesheet' id='optimizepress-default-css'  href='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/default.min.css?ver=2.4.0' type='text/css' media='all' />
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-includes/js/jquery/jquery.js?ver=1.11.2'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
	<script type='text/javascript'>
	/* <![CDATA[ */
	var OptimizePress = {"ajaxurl":"http:\/\/www.hinckleyvideo.com\/wp-admin\/admin-ajax.php","SN":"optimizepress","version":"2.4.0","script_debug":".min","localStorageEnabled":"","wp_admin_page":"","op_live_editor":"1","imgurl":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/images\/","OP_URL":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/","OP_JS":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/js\/","OP_PAGE_BUILDER_URL":"","include_url":"http:\/\/www.hinckleyvideo.com\/wp-includes\/","op_autosave_interval":"300","op_autosave_enabled":"N","paths":{"url":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/","img":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/images\/","js":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/js\/","css":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/css\/"},"social":{"twitter":"optimizepress","facebook":"optimizepress","googleplus":"111273444733787349971"},"flowplayerHTML5":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/flowplayer-5.5.0\/flowplayer.swf","flowplayerKey":"","flowplayerLogo":"","flowplayer":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/flowplayer\/flowplayer-3.2.7.swf","flowplayer_control":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/flowplayer\/flowplayer.controls-3.2.5.swf","mediaelementplayer":"http:\/\/www.hinckleyvideo.com\/wp-content\/themes\/optimizePressTheme\/lib\/modules\/blog\/video\/mediaelement\/","pb_unload_alert":"This page is asking you to confirm that you want to leave - data you have entered may not be saved.","pb_save_alert":"Please make sure you are happy with all of your options as some options will not be able to be changed for this page later."};
	/* ]]> */
	</script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/jquery/jquery.noconflict.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/plugins/akismet/_inc/form.js?ver=3.1.1'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/jquery/jquery.loadScript.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/modules/blog/video/flowplayer-5.5.0/flowplayer.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/modules/blog/video/mediaelement/mediaelement-and-player.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/modules/blog/video/video-audio-player.min.js?ver=2.4.0'></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.hinckleyvideo.com/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.hinckleyvideo.com/wp-includes/wlwmanifest.xml" />
	<meta name="generator" content="WordPress 4.2.1" />
	<link rel='shortlink' href='http://www.hinckleyvideo.com/?p=256' />
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-61855401-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>

	        <!--[if (gte IE 6)&(lte IE 8)]>
	        <script type="text/javascript" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/selectivizr-1.0.2-min.js?ver=1.0.2"></script>
	        <![endif]-->
	        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	            <style type="text/css" id="op_header_css">
	            p, .single-post-content li, #content_area li, .op-popup-button .default-button{font-size:15px;font-family:"Asap", sans-serif;color:#444}a, blockquote{font-family:"Asap", sans-serif}h1,.main-content h1,.single-post-content h1,.full-width.featured-panel h1,.latest-post .the-title{font-family:"Asap", sans-serif}h2,.main-content h2,.single-post-content h2,.op-page-header h2,.featured-panel h2,.featured-posts .post-content h2,.featured-posts .post-content h2 a,.latest-post h2 a{font-family:"Asap", sans-serif}h3,.main-content h3,.single-post-content h3{font-family:"Asap", sans-serif}h4,.main-content h4,.single-post-content h4,.older-post h4 a{font-size:18px;font-family:"Asap", sans-serif;color:#3b3b3b}.site-description{font-family:"Asap", sans-serif}.banner .site-description{font-family:"Asap", sans-serif}
	            </style>
	            <style type="text/css">/* CUSTOM CODE REQUIRED FOR THIS TEMPLATE DO NOT TOUCH */

	.banner .logo img{width:200px;}
	.banner{padding:30px 0;}
	.optbox{padding-top:20px;background:#fff;border:1px solid #ececec;-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

	.optin-box-6 .text-box {
	padding:12px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

	.optin-box-6 .text-box input {font-size:13px;}
	.feature-box-4 .feature-box-content {
	padding: 25px 36px;
	padding-top: 25px;
	padding-bottom: 10px;}

	.navigation-sidebar-7 li a {padding-left:0px;}

	/* END CUSTOM CODE REQUIRED FOR THIS TEMPLATE DO NOT TOUCH */</style>
	<link href="http://fonts.googleapis.com/css?family=Oswald:300,r|Open Sans:300,r,b,i,bi|Asap:r,b,i,bi" rel="stylesheet" type="text/css" />
	</head>
	<body class="page page-id-256 page-template-default op-live-editor-page op-theme">
	  <div class="container main-content">
	    <div class="banner centered-banner" style="background-color:#290d05">
	      <div class="fixed-width cf">
	        <h1 class="banner-logo"><a href="http://www.hinckleyvideo.com/" title="" rel="home"><img src="http://hinckleyvideo.com/wp-content/uploads/2015/04/Hinckley-Living-Scriptures-banner2-960x200-.jpg" alt="" /></a>
					</h1>
				</div>
	    </div>
	    <div id="content_area" class="">
	      <div style='background:#efefef;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #efefef));background:-webkit-linear-gradient(top, #efefef 0%, #efefef 100%);background:-moz-linear-gradient(top, #efefef 0%, #efefef 100%);background:-ms-linear-gradient(top, #efefef 0%, #efefef 100%);background:-o-linear-gradient(top, #efefef 0%, #efefef 100%);background:linear-gradient(to bottom, #efefef 0%, #efefef 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#efefef, GradientType=0);padding-bottom:0px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row one-column cf ui-sortable section" id="le_body_row_1" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJiYWNrZ3JvdW5kQ29sb3JFbmQiOiIjZWZlZmVmIiwicGFkZGluZ0JvdHRvbSI6IjAiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
	        <div class="fixed-width">
	          <div class="one-column column cols" id="le_body_row_1_col_1">
						  <div class="element-container cf" data-style="" id="le_body_row_1_col_1_el_1">
								<div class="element">
	                <div class="image-caption" style='width:840px;margin-top:0px;margin-bottom:px;margin-right:auto;margin-left:auto;'>
										<img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/KSL-BYU-Crediblity-Banner-4-860-x-72.png" border="0" class="full-width" />
									</div>
	              </div>
							</div>
						</div>
					</div>
				</div>
	    <div style='background:#088a08;padding-top:10px;padding-bottom:10px;border-top-width:px;border-top-style:solid;border-top-color:#088a08;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:#088a08;'  class="row one-column cf ui-sortable section" id="le_body_row_2" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiMwODhhMDgiLCJwYWRkaW5nVG9wIjoiMTAiLCJwYWRkaW5nQm90dG9tIjoiMTAiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIzA4OGEwOCIsImJvcmRlckJvdHRvbVdpZHRoIjoiIiwiYm9yZGVyQm90dG9tQ29sb3IiOiIjMDg4YTA4IiwiYWRkb24iOnt9fQ==">
	      <div class="fixed-width">
	        <div class="one-column column cols" id="le_body_row_2_col_1">
						<div class="element-container cf" data-style="" id="le_body_row_2_col_1_el_1">
							<div class="element"> <h2 style='font-size:40px;color:#ffffff;text-align:center;'>Get your FREE Gordon B. Hinckley DVD today!</h2>
							</div>
						</div>
						<div class="element-container cf" data-style="" id="le_body_row_2_col_1_el_2">
							<div class="element"> <h4 style='font-size:30px;font-family:"Oswald", sans-serif;text-align:center;'>DVD is completely FREE. Plus we even pay your Shipping and Handling!</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
	    <div style='background:#290d05;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row three-columns cf ui-sortable" id="le_body_row_3" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiMyOTBkMDUiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
	     <div class="fixed-width">
	      <div class="two-thirds column cols" id="le_body_row_3_col_1">
					<div class="element-container cf" data-style="" id="le_body_row_3_col_1_el_1">
						<div class="element"> <h2 style='font-size:34px;color:#28689f;text-align:left;'><h3 style="text-align: center;"></h3></h2>
						</div>
					</div>
					<div class="element-container cf" data-style="" id="le_body_row_3_col_1_el_2">
						<div class="element"> <h4 style='font-size:22px;color:#eaba50;text-align:left;'><h4 style="text-align: center;"><span style="color: #eaba50;"><strong>GORDON B. HINCKLEY "A GIANT AMONG MEN" DVD SNEAK PEEK</strong></span></h4></h4>
						</div>
					</div>
					<div class="element-container cf" data-style="" id="le_body_row_3_col_1_el_3">
						<div class="element"> <div class="video-plugin-new" style="max-width:100%; width:560px; height:auto; padding-top:0; padding-bottom:0; margin:0 auto;margin:0 auto; border: 0px solid #fff;margin-bottom: 20px;">
							<div style="width:560px;height:0;  padding-bottom: 56.25%; padding-top:0;"><iframe width="560" height="315" src="//www.youtube.com/embed/ynAbnlSU5Qc?wmode=opaque&showinfo=0&amp;autoplay=1&amp;controls=1&amp;modestbranding=1&amp;vq=&amp;rel=0" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div><div class="element-container cf" data-style="" id="le_body_row_3_col_1_el_4">
					<div class="element">
	<style>
    #social-sharing-b387e23ba730ae48ff14f699f2be1b50 li{
      text-align: center;
      /*margin-left: auto;*/
      /*margin-right: auto;*/
     }
  </style>
	<ul id="social-sharing-b387e23ba730ae48ff14f699f2be1b50" data-counter="false" class="social-sharing social-sharing-style-15">
	    <li class="twitter" data-url="http://www.hinckleyvideo.com/" data-title="Share" data-lang="en"></li>
	    <li class="facebook" data-url="http://www.hinckleyvideo.com/" data-title="Like" data-colorscheme="light"></li>
	    <li class="googlePlus" data-url="http://www.hinckleyvideo.com/"></li>
	</ul> </div></div><div class="element-container cf" data-style="" id="le_body_row_3_col_1_el_5"><div class="element"> <ul class="bullet-list 1" ><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/10.png");background-repeat:no-repeat;color:#ffffff;'>Narrated by President Gordon B. Hinckley, amazing stories from his personal journal</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/10.png");background-repeat:no-repeat;color:#ffffff;'>Directed by T.C. Christensen, who brought you "Praise to the Man", "The Testaments", "Ephraim's Rescue", "17 Miracles" and "The Work and the Glory." </li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/10.png");background-repeat:no-repeat;color:#ffffff;'>Produced with archival permission granted from "The Church of Jesus Christ of Latter-day Saints</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/10.png");background-repeat:no-repeat;color:#ffffff;'>DVD Run Time 53 Minutes</li></ul> </div></div></div>
	                        <div class="one-third column cols narrow" id="le_body_row_3_col_2"><div class="element-container cf" data-style="" id="le_body_row_3_col_2_el_1"><div class="element"> <div class="op-custom-html-block">


	<div id="553939d59003f" class="optin-box optin-box-7" style="margin-right: auto;margin-left: auto;">

	<!-- <h2>Fill Out This Form To Get Your FREE DVD Today</h2>
	<div class="optin-box-content">
 -->
	<%#= form_tag('/leads', method: :get, :id=>'five9_form') do -%>
		<!-- <div class="text-box"> -->
			<%#= text_field_tag 'name', nil, class: 'form-control input-md', placeholder: 'First Name', minlength: '2' %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= text_field_tag 'lastname', nil, class: 'form-control input-md', placeholder: 'Last Name', minlength: '2' %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= text_field_tag 'Address', nil, class: 'form-control input-md', placeholder: 'Address', minlength: '2' %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= text_field_tag 'City', nil, class: 'form-control input-md', placeholder: 'City', minlength: '2' %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= select_tag "State", options_for_select(["Alabama","Alaska","Alberta","Arizona","Arkansas","British Columbia","California","Colorado","Connecticut","Delaware","District of Columbia","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Manitoba","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Brunswick","Newfoundland and Labrador","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Northwest Territories","Nova Scotia","Nunavut","Ohio","Oklahoma","Ontario","Oregon","Pennsylvania","Prince Edward Island","Quebec","Rhode Island","Saskatchewan","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","Yukon"], "United States") %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= text_field_tag 'Zip', nil, class: 'form-control input-md', placeholder: 'Zip/Postal', minlength: '5', maxlength: '6' %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= select_tag "Country", options_for_select([ "United States", "Canada"], "United States") %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= text_field_tag 'Phone', nil, class: 'form-control input-md', placeholder: 'Phone (XXXXXXXXXX)', minlength: '10', pattern: "[0-9]{10}", maxlength: '10' %>
		<!-- </div> -->
		<!-- <div class="text-box"> -->
			<%#= email_field 'email', nil, class: 'form-control input-md', placeholder: 'Email' %>
			<%#= text_field_tag 'email', nil, class: 'form-control input-md', placeholder: 'Email', minlength: '4' %>
		<!-- </div> -->
		<%#= hidden_field_tag 'typecode', 'Oli', style:"display:none"%>
		<%#= hidden_field_tag 'list', 'FD2WkGL763E2W3RKGbIsqP9A' %>

    <!-- <button class="default-button" type="submit">
			<span>
				Get My Free DVD
			</span>
		</button> -->

	<%# end %>

	<form action="http://sendy.livingscriptures.com/subscribe" method="POST" id="multi_sending" onsubmit="MM_validateForm('name','','R','lastname','','R','Address','','R','City','','R','Zip','','NisNum','Phone','','RisNum');return document.MM_returnValue" accept-charset="utf-8"><div class="text-box">
	<input type="text" placeholder="First Name" class="form-control input-md" name="name" id="name" minlength="2" required=""/></div>
	<div class="text-box"><input type="text" placeholder="Last Name" class="form-control input-md" name="lastname" id="lastname" minlength="2" required=""/></div>
	<div class="text-box"><input type="text" placeholder="Address" class="form-control input-md" name="Address" id="Address" required=""/></div>
	<div class="text-box"><input type="text" placeholder="City" class="form-control input-md" name="City" id="City" minlength="2" required=""/></div>
	<div class="text-box"><select class="form-control input-md" name="State" id="State" required="">
	                <option value="" disabled="disabled" selected="selected" style="display: none;">State/Province</option>
	    <option value="AL">Alabama</option>
	                <option value="AK">Alaska</option>
	    <option value="AB">Alberta</option>
	                <option value="AZ">Arizona</option>
	                <option value="AR">Arkansas</option>
	    <option value="BC">British Columbia</option>
	                <option value="CA">California</option>
	                <option value="CO">Colorado</option>
	                <option value="CT">Connecticut</option>
	                <option value="DE">Delaware</option>
	                <option value="DC">District of Columbia</option>
	                <option value="FL">Florida</option>
	                <option value="GA">Georgia</option>
	                <option value="HI">Hawaii</option>
	                <option value="ID">Idaho</option>
	                <option value="IL">Illinois</option>
	                <option value="IN">Indiana</option>
	                <option value="IA">Iowa</option>
	                <option value="KS">Kansas</option>
	                <option value="KY">Kentucky</option>
	                <option value="LA">Louisiana</option>
	                <option value="ME">Maine</option>
	    <option value="MB">Manitoba</option>
	                <option value="MD">Maryland</option>
	                <option value="MA">Massachusetts</option>
	                <option value="MI">Michigan</option>
	                <option value="MN">Minnesota</option>
	                <option value="MS">Mississippi</option>
	                <option value="MO">Missouri</option>
	                <option value="MT">Montana</option>
	                <option value="NE">Nebraska</option>
	                <option value="NV">Nevada</option>
	    <option value="NB">New Brunswick</option>
	    <option value="NL">Newfoundland and Labrador</option>
	                <option value="NH">New Hampshire</option>
	                <option value="NJ">New Jersey</option>
	                <option value="NM">New Mexico</option>
	                <option value="NY">New York</option>
	                <option value="NC">North Carolina</option>
	                <option value="ND">North Dakota</option>
	    <option value="NT">Northwest Territories</option>
	    <option value="NS">Nova Scotia</option>
	    <option value="NU">Nunavut</option>
	                <option value="OH">Ohio</option>
	                <option value="OK">Oklahoma</option>
	    <option value="ON">Ontario</option>
	                <option value="OR">Oregon</option>
	                <option value="PA">Pennsylvania</option>
	    <option value="PE">Prince Edward Island</option>
	    <option value="QC">Quebec</option>
	                <option value="RI">Rhode Island</option>
	    <option value="SK">Saskatchewan</option>
	                <option value="SC">South Carolina</option>
	                <option value="SD">South Dakota</option>
	                <option value="TN">Tennessee</option>
	                <option value="TX">Texas</option>
	                <option value="UT">Utah</option>
	                <option value="VT">Vermont</option>
	                <option value="VA">Virginia</option>
	                <option value="WA">Washington</option>
	                <option value="WV">West Virginia</option>
	                <option value="WI">Wisconsin</option>
	                <option value="WY">Wyoming</option>
	    <option value="YT">Yukon</option>
	</select></div>
	<div class="text-box">
	<input type="text" placeholder="Zip/Postal Code" class="form-control input-md" name="Zip" id="Zip" minlength="5" maxlenth="6" required=""/></div>

	<div class="text-box"><select class="form-control input-md" name="Country" id="Country" required="">
	                <option value="" disabled="disabled" selected="selected" style="display: none;">Country</option>
	    <option value="USA">United States</option>
	                <option value="CN">Canada</option>
	    </select></div>                  <div class="text-box">  <input type="text" minlength="10" maxlength="10" required="" placeholder="Phone (XXXXXXXXXX)" class="form-control input-md" name="Phone" id="Phone" pattern="[0-9]{10}"/></div>
	<div class="text-box"><input type="email" placeholder="Email" class="form-control input-md" name="email" id="email" required=""/></div>
	<input id="date" name="date" type="hidden"/>



	<script type="text/javascript">
	  document.getElementById('date').value = Date();
	</script>
	<input type="hidden" class="form-control input-md" name="typecode" id="typecode" value="Oli"/>
	<input type="hidden" name="list" value="FD2WkGL763E2W3RKGbIsqP9A"/>
	<button class="default-button" type="submit">
	<span>
	Get My Free DVD
	</span>
	</button>


	</form>


	<p class="privacy">
	<img width="16" height="15" alt="privacy" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/optin_box/privacy.png"/>
	We value your privacy and would never spam you
	</p>

	</div>
	</div></div> </div></div><div class="element-container cf" data-style="" id="le_body_row_3_col_2_el_2"><div class="element"> <div class="op-custom-html-block"><a href="tel:+18007270828"><img class=" size-full wp-image-242 aligncenter" src="http://hinckleyvideo.com/wp-content/uploads/2014/09/Click-to-Call-Living-Scriptures-1-300-x-160.png" alt="Click-to-Call-Living-Scriptures-1-300-x-160" width="300" height="160"/></a></div> </div></div></div></div></div>
	                    <div style='background:#efefef;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row two-columns cf ui-sortable section" id="le_body_row_4" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
	                        <div class="fixed-width">
	                        <div class="one-half column cols" id="le_body_row_4_col_1"><div class="element-container cf" data-style="" id="le_body_row_4_col_1_el_1"><div class="element">
	<blockquote id="testimonial-2e4cca123818e9710a45ac3674d0ddde" class="testimonial testimonial-image-style-2">
		<img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Shaw-Family-Tesimonials-75-x-93-template.jpg" />
		<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
		<div class="testimonial-content">
			<p><strong>THE BEST GIFT FOR YOU FAMILY!</strong><br />
	<br />
	"They are so exciting and really good. Now that I'm grown and have kids of my own, I have purchased the DVD's and absolutely LOVE them. They are worth every penny. I can't say enough how these are the best movies you could ever get for your family and you will cherish them!"</p>		<cite><strong>Janet Shaw</strong> <br />
								<span class="op-testimonial-company"></span>
						</cite>
		</div>
	</blockquote>
	<blockquote id="testimonial-e447e2ff4b5187542a8afae878d36dba" class="testimonial testimonial-image-style-2">
		<img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Bawden-Family-Tesimonials-75-x-93-template.jpg" />
		<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
		<div class="testimonial-content">
			<p><strong>INVALUABLE</strong><br />
	<br />
	"These movies were INVALUABLE in our children's learning of these wonderful stories.We would highly recommend to anyone who is considering this investment to do so, and we know you will find great things come to your family as well.<br />
	<br />
	Happy Scripture Learning!"</p>		<cite><strong>The Ken Bawden Family</strong> <br />
								<span class="op-testimonial-company"></span>
						</cite>
		</div>
	</blockquote> </div></div></div>
	                        <div class="one-half column cols" id="le_body_row_4_col_2"><div class="element-container cf" data-style="" id="le_body_row_4_col_2_el_1"><div class="element">
	<blockquote id="testimonial-f903d1bc1273a1daff57f50b7bfbb213" class="testimonial testimonial-image-style-2">
		<img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/1-Cleverly-Family-Tesimonials-75-x-93-template.jpg" />
		<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
		<div class="testimonial-content">
			<p><strong>AMAZED BY THE KNOWLEDGE</strong><br />
	<br />
	" I am constantly amazed by the knowledge they have gained from watching the bible stories acted out. Even better, my husband and I like watching them also. The movies are kid friendly, but the content is not "dumbed down". I would recommend this addition to anyone."</p>		<cite><strong>Kate Cleverly</strong> <br />
								<span class="op-testimonial-company"></span>
						</cite>
		</div>
	</blockquote>
	<blockquote id="testimonial-efbb26945caf28d29cc65f0748c799a6" class="testimonial testimonial-image-style-2">
		<img alt="" src="" />
		<img width="27" height="18" class="quote-tip" alt="" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/testimonials/quote-tip-blue.png">
		<div class="testimonial-content">
			<p><strong>AWARD WINNING PRODUCTION STYLE</strong><br />
	<br />
	"Awesome story of Pres. Hinckley. As a professional producer, this film quality is a top-notch, "hollywood style" production. They actually filmed on-location at President Hinckley's boyhood home. The movie is also narrated by President Hinckley's journal recordings they got from the church archives. "</p>		<cite><strong>Brandon Flint</strong> <br />
								<span class="op-testimonial-company"></span>
						</cite>
		</div>
	</blockquote> </div></div></div></div></div>
	                    <div style='background:#290d05;padding-top:0px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row two-columns cf ui-sortable" id="le_body_row_5" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiMyOTBkMDUiLCJwYWRkaW5nVG9wIjoiMCIsImJvcmRlclRvcFdpZHRoIjoiIiwiYm9yZGVyVG9wQ29sb3IiOiIiLCJib3JkZXJCb3R0b21XaWR0aCI6IiIsImJvcmRlckJvdHRvbUNvbG9yIjoiIiwiYWRkb24iOnt9fQ==">
	                        <div class="fixed-width">
	                        <div class="one-half column cols" id="le_body_row_5_col_1"><div class="element-container cf" data-style="" id="le_body_row_5_col_1_el_1"><div class="element">
	                <div class="image-caption" style='width:364px;margin-top:0px;margin-bottom:px;margin-right:auto;margin-left:auto;'><img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/Hickley-DVD-Details.jpg" border="0" class="full-width" /></div>
	             </div></div></div>
	                        <div class="one-half column cols" id="le_body_row_5_col_2"><div class="element-container cf" data-style="" id="le_body_row_5_col_2_el_1"><div class="element"> <div class="op-text-block" style="width:100%;text-align: left;padding-top:20px;"><p style='font-size:30px;color:#eaba50;'>Gordon B. Hinckley <strong>"A GIANT AMONG MEN" FREE DVD:</strong></p>
	</div> </div></div><div class="element-container cf" data-style="" id="le_body_row_5_col_2_el_2"><div class="element"> <ul class="bullet-list 1" ><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Narrated by Gordon B. Hinckley</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Amazing stories from his personal journal</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>DVD Run Time 53 Minutes</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Produced with archival permission granted from The Church of Jesus Christ of Latter-day Saints</li><li style='background-image:url("http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/bullet_block/32x32/6.png");background-repeat:no-repeat;color:#ffffff;'>Directed by T.C. Christensen, who brought you "17 Miracles",  "The Testaments", "Ephraim's Rescue", "The Work and the Glory" and "Praise to the Man"</li></ul> </div></div></div></div></div>
	                    <div style='background:#efefef;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row three-columns cf ui-sortable section" id="le_body_row_6" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
	                        <div class="fixed-width">
	                        <div class="one-third column cols narrow" id="le_body_row_6_col_1"><div class="element-container cf" data-style="" id="le_body_row_6_col_1_el_1"><div class="element">
	                <div class="image-caption" style='width:300px;margin-top:0px;margin-bottom:px;margin-right:auto;margin-left:auto;'><img alt="" src="http://hinckleyvideo.com/wp-content/uploads/2015/04/LOGO-Grey-BG.jpg" border="0" class="full-width" /></div>
	             </div></div></div>
	                        <div class="two-thirds column cols" id="le_body_row_6_col_2"><div class="element-container cf" data-style="" id="le_body_row_6_col_2_el_1"><div class="element"> <h2 class="headline-style-3" style='text-align:center;margin-top:6px;'>About Living Scriptures</h2> </div></div></div></div></div>
	                    <div style='background:#efefef;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row two-columns cf ui-sortable section" id="le_body_row_7" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiNlZmVmZWYiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
	                        <div class="fixed-width">
	                        <div class="one-half column cols" id="le_body_row_7_col_1"><div class="element-container cf" data-style="" id="le_body_row_7_col_1_el_1"><div class="element"> <ul class="feature-block feature-block-style-icon feature-block-with-icon feature-block-one-col cf">
	                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/425.png" /></span><h2>Over 11 Million Sold</h2><p>We have sold over 11 Million DVD&#8217;s, Videos and Tapes.</p>

	                            </div></li>

	                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/445.png" /></span><h2>Living Scriptures Founded in 1974</h2><p>We’ve been in business since 1974.</p>

	                            </div></li>
	                     </ul> </div></div></div>
	                        <div class="one-half column cols" id="le_body_row_7_col_2"><div class="element-container cf" data-style="" id="le_body_row_7_col_2_el_1"><div class="element"> <ul class="feature-block feature-block-style-icon feature-block-with-icon feature-block-one-col cf">
	                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/Online-Presence.png" /></span><h2>41 Years in Business</h2><p>It has been our pleasure to serve our customers for over 41 Years.</p>

	                            </div></li>

	                    <li><div><span class="feature-block-icon-container"><img class="feature-block-icon" src="http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/assets/images/feature_block/icons/76.png" /></span><h2>Teaching Values and Changing Lives</h2><p>We are passionate about teaching values and changing people&#8217;s lives!</p>

	                            </div></li>
	                     </ul> </div></div></div></div></div>
	                    <div style='background:#2f3236;padding-top:20px;border-top-width:px;border-top-style:solid;border-top-color:;border-bottom-width:px;border-bottom-style:solid;border-bottom-color:;'  class="row one-column cf ui-sortable" id="le_body_row_8" data-style="eyJiYWNrZ3JvdW5kQ29sb3JTdGFydCI6IiMyZjMyMzYiLCJwYWRkaW5nVG9wIjoiMjAiLCJib3JkZXJUb3BXaWR0aCI6IiIsImJvcmRlclRvcENvbG9yIjoiIiwiYm9yZGVyQm90dG9tV2lkdGgiOiIiLCJib3JkZXJCb3R0b21Db2xvciI6IiIsImFkZG9uIjp7fX0=">
	                        <div class="fixed-width">
	                        <div class="one-column column cols" id="le_body_row_8_col_1"><div class="element-container cf" data-style="" id="le_body_row_8_col_1_el_1"><div class="element"> <div class="op-text-block" style="width:100%;text-align: left;"><p style='font-family:"Open Sans", sans-serif;text-align: center;'><span style="color: #ffffff;">© Living Scriptures™ 2015 | 3625 Harrison Blvd. Ogden, UT 84403 | 1-800-727-0828</span></p>
	</div> </div></div></div></div></div></div>    </div><!-- container -->
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/jquery/jquery.placeholder.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/fancybox/jquery.fancybox.pack.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/menus.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/tooltipster.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/selectnav.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/dropkick.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/jquery/jquery-ui-1.10.3.custom.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/jquery/jquery.sharrre-1.3.4.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/jquery/jquery.reveal.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/jquery/countdown.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/global.min.js?ver=2.4.0'></script>
	<script type='text/javascript' src='http://www.hinckleyvideo.com/wp-content/themes/optimizePressTheme/lib/js/addition.js'></script>
	</body>
</html>
